<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Pizza App
    </ion-title>
  </ion-toolbar>
</ion-header>

<style>
  .highlight {
     background-color: #FFFF33 !important;
  }
  </style>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pizza App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="https://icons.iconarchive.com/icons/sonya/swarm/256/Pizza-icon.png" style="height: 80px;"></ion-img>
      </ion-col>
      <ion-col>
        <ion-button expand="block">Manager</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label> Quantity:</ion-label>
        <ion-label> {{numberSelected}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="height: 60px;">
      <ion-col>
        <ion-button style="width: 100%; height: 100%;" (click)="buttonOneClicked()">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 100%; height: 100%;" (click)="buttonTwoClicked()">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 100%; height: 100%;" (click)="buttonThreeClicked()">3</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="height: 60px;">
      <ion-col>
        <ion-button style="width: 100%; height: 100%;" (click)="buttonFourClicked()">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 100%; height: 100%;" (click)="buttonFiveClicked()">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 100%; height: 100%;" (click)="buttonSixClicked()">6</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="height: 60px;">
      <ion-col>
        <ion-button style="width: 100%; height: 100%;" (click)="buttonSevenClicked()">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 100%; height: 100%;" (click)="buttonEightClicked()">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 100%; height: 100%;" (click)="buttonNineClicked()">9</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="height: 60px;">
      <ion-col>
        <ion-button style="width: 100%; height: 100%;" color="danger" (click)="resetButton()">RESET</ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 100%; height: 100%;" (click)="buttonZeroClicked()">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 100%; height: 100%;" color="success" (click)="addButtonClicked()">ADD</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
    <ion-col>
      <ion-label>Topping:</ion-label>
      <ion-label> {{toppingsUpdate}}</ion-label>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Toppings" (ionChange)="toppingValue($event)">
            <ion-select-option *ngFor="let topping of toppings" >{{topping.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col>
      <ion-label>Size:</ion-label>
      <ion-label > {{sizeUpdate}}</ion-label>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Sizes" (ionChange)="sizeValue($event)">
            <ion-select-option *ngFor="let size of sizes">{{size.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
